body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
}

header {
    background: #ff4d6d;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
}

.product {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button {
    background: #25D366;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.product img{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:10px;
    display:block;
    margin-bottom:15px;
}

.product{
    text-align:center;
}
